body {
    background-color: lightblue;
    color: darkmagenta; 
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right,red, orange, yellow, green, blue,darkblue, darkslateblue);
    color: lightgreen;
    padding: 15px;
    font-size: 16pt;
    transition: color, font-size, 2s;
}

main {
    margin: 10px 20px;
}


header:hover {
    color: rgb(56, 121, 56);
    font-size: 20pt;
}

header:active {
    background: linear-gradient(to left,red, orange, yellow, green, blue,darkblue, darkslateblue);
    color: rgb(56, 121, 56);
    font-size: 12pt;
}

footer {
    background: linear-gradient(to right,red, orange, yellow, green, blue,darkblue, darkslateblue);
    color: lightgreen;
    margin: 0px;
    font-size: 14pt;
    font-style:  italic;
    text-align: right;
    padding: 5px;
    transition: color, font-size, 2s;
}

footer:hover {
    color: rgb(56, 121, 56);
    font-size: 20pt;
}

footer:active {
    background: linear-gradient(to left,red, orange, yellow, green, blue,darkblue, darkslateblue);
    color: rgb(56, 121, 56);
    font-size: 12pt;
}

a {
   color: green; 
   text-decoration: none;
   transition: text-shadow, color, text-duration, 
   background-color, font-weight, 3s;
}

a:visited {
    color:blue;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 7px 5px 2px rgb(168, 117, 190);
    transition: all 0.3s;
}

a:active {
    color: pink;
    background-color: green;
}