body {
    background-color: lightblue;
    color: darkmagenta; 
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black;
    color: lightgreen;
    padding: 15px;
    font-size: 16pt
}

footer {
    background-color: black;
    color: lightgreen;
    margin: 0px;
    font-size: 14pt;
    font-style:  italic;
    text-align: right;
    padding: 5px
}

a {
   color: green; 
   text-decoration: none;
}

a:visited {
    color:blue;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}